# Assignment 1: Part B

## Intro to Pandas
For the next set of questions, you will be using census data from the [United States Census Bureau](https://www2.census.gov/programs-surveys/popest/datasets/2010-2017/). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2017. A copy of the data description document `co-est2017-alldata.pdf` has been provided in the A1 `data` folder.  We strongly recommend that you review this file before starting the assignment.

Code to load the census data file (`co-est2017-alldata.csv`) into a DataFrame, `census_df`, has been provided below.

In [1]:
import pandas as pd

In [2]:
census_df = pd.read_csv('data/co-est2017-alldata.csv', encoding='latin1')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2015,RDOMESTICMIG2016,RDOMESTICMIG2017,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017
0,40,3,6,1,0,Alabama,Alabama,4779736,4780135,4785579,...,-0.317205,-0.404473,0.788882,0.450741,0.939393,1.364296,0.694271,0.678575,0.558931,1.708218
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54750,...,-1.950739,4.831269,1.047102,5.911832,-6.102101,-4.050282,2.099325,-1.659040,5.103709,1.317904
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183110,...,17.047872,20.493601,22.383175,16.285940,17.196786,22.615285,20.380904,17.903749,21.317244,23.163873
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27332,...,-16.222436,-18.755525,-19.042395,0.256021,-6.822433,-8.018920,-5.549762,-16.411069,-18.947692,-19.159940
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22872,...,0.931388,-1.416117,-0.882983,-5.041980,-4.096646,-5.890038,1.243450,1.818424,-0.531044,0.000000

### b0: (example)
What are the REGION and DIVISION for the first state in `census_df` ?

*This function should return a Tuple with two values (REGION, DIVISION).*

>NOTE: You should write your whole answer within the function provided. For grading purposes the value returned by each question's function will be compared against the expected answer.

In [3]:
def b0():
    state_df = census_df[census_df['SUMLEV'] == 40]
    return (state_df.iloc[0]['REGION'], state_df.iloc[0]['DIVISION'])

In [4]:
def test_b0():
    region, division = b0()
    if (region, division) == (3,6):
        return True
    return False

test_b0()

True

### Setup Analysis DataFrame 
 
Before we start our data analysis we want to do some initial processing on the raw data.  

Copy `census_df` into a new DataFrame `co_df`. Update `co_df` to meet the following requirements:

- remove *State and/or Statistical Equivalent data*
- remove `STATE`, `SUMLEV`, and `COUNTY` columns
- rename  `STNAME` column to `STATE`
- rename  `CTYNAME` column to `COUNTY`
- replace the index values for Region and Division with their corresponding string values<sup>1</sup>

**IMPORTANT:** Write your code to update `co_df` in the code cell below - outside of the `b1()` function - to avoid aliasing problems.


(<sup>1</sup>see the data information sheet: co-est2017-alldata.pdf)

In [5]:
co_df = census_df # Rename census_df to co_df
co_df = co_df[co_df.SUMLEV != 40] # Choose only SUMLEV that is not 40, as 40 is state specific data.
del co_df['STATE'] # Remove state from co_df.
del co_df['SUMLEV'] # Remove SUMLEV from co_df.
del co_df['COUNTY'] # Remove county from co_df.
co_df = co_df.rename(columns={'STNAME': 'STATE', 'CTYNAME': 'COUNTY'}) # Rename STNAME to STATE and CTYNAME to COUNTY.
regionDict = {1:'Northeast',2:'Midwest',3:'South',4:'West'} # A dictionary of regions and their new values.
co_df['REGION'] = co_df['REGION'].replace(regionDict) # This goes in and replaces region values with the associated regionDict value.
divisionDict = {1:'New England',2:'Middle Atlantic',3:'East North Central',4:'West North Central',5:'South Atlantic',6:'East South Central',7:'West South Central',8:'Mountain',9:'Pacific'} # A dictionary of divisions and their new values.
co_df['DIVISION'] = co_df['DIVISION'].replace(divisionDict) # This goes in and replaces division values with the associated divisionDict value.

### b1: [6 marks]
Test for correct setup, function should return the tuple below:
```python
(['District of Columbia'],
 ['East South Central',
  'Pacific',
  'Mountain',
  'West South Central',
  'New England',
  'South Atlantic',
  'East North Central',
  'West North Central',
  'Middle Atlantic'],
 ['South', 'West', 'Northeast', 'Midwest'])
```

In [6]:
def b1():
    """ function runs verification tests on the co_df dataframe setup.  
        Output should be compared to expected values for confirmation.
    
    returns: tuple of three lists.  
        list 1: confirms State and/or Statistical Equivalent data removed
        list 2: confirms division numbers replaced by names
        list 3: confirms region numbers replaced by names    
    """
    state = co_df.loc[co_df.STATE == co_df.COUNTY]['STATE']
    div = co_df['DIVISION'].unique()
    region = co_df['REGION'].unique()
    return (list(state), list(div), list(region))

In [7]:
b1()

(['District of Columbia'],
 ['East South Central',
  'Pacific',
  'Mountain',
  'West South Central',
  'New England',
  'South Atlantic',
  'East North Central',
  'West North Central',
  'Middle Atlantic'],
 ['South', 'West', 'Northeast', 'Midwest'])

### b2: [8 marks]
Which states and counties in the New England or Middle Atlantic divisions, with a county name that starts with 'P', had a higher net migration in 2016 than 2017. <br>*Return a data frame with columns for state and county.*

In [8]:
def b2():
    """ function finds states and counties in New England or Middle Atlantic Divisions, with county names starting with P,
        that had a higher net migration in 2016 than 2017.
        Output should be a data frame with county and state columns, and an indeterminate number of rows.   
    """
    highNetMig_df = (co_df.loc[co_df['DIVISION'].isin(['New England','Middle Atlantic'])]) # Choose New England OR Middle Atlantic div.
    highNetMig_df = highNetMig_df[highNetMig_df['COUNTY'].str.startswith("P")] # Find counties starting with P.
    highNetMig_df = highNetMig_df[highNetMig_df['RNETMIG2016'] > (highNetMig_df['RNETMIG2017'])] # Checks if higher net migration in 2016 over 2017.
    highNetMig_df = highNetMig_df[['COUNTY','STATE']] # Selects only county and state to be displayed.
    return (highNetMig_df)

In [9]:
b2()

                  COUNTY         STATE
1207  Piscataquis County         Maine
2335       Potter County  Pennsylvania
2354   Providence County  Rhode Island

### b3: [6 marks]
Which five counties in the United States had the highest birth rates from 1 July 2016 to 30 June 2017?  <br>*Return a 5 x 2 data frame with columns for county and birth rates, sorted in descending order.*

In [10]:
def b3():
    """ function finds the top five counties with the highest birth rates between 1 July 2016 to 30 June 2017
        Output should be a 5x2 data frame.   
    """
    
    topFiveCounties_df = co_df.nlargest(5, 'BIRTHS2017') # This chooses the counties with the top 5 births between the dates.
    topFiveCounties_df = topFiveCounties_df[['COUNTY','BIRTHS2017']] # This displays county and births2017 columns only.
    topFiveCounties_df = topFiveCounties_df.sort_values(by=['BIRTHS2017'],ascending=False) # Attempt to get rid of key. Failed.
    return (topFiveCounties_df)

In [11]:
b3()

                  COUNTY  BIRTHS2017
209   Los Angeles County      122923
2667       Harris County       73172
624          Cook County       66843
106      Maricopa County       55050
227     San Diego County       43652

### b4: [6 marks]
How many unique county names are located in the West region, Mountain division?  <br>*This function should return an integer.*

In [12]:
def b4():
    """ function finds the number of unique county names located in the West region and the mountain division.
        Output should be an integer.
    """
    unWestMtCty_df = co_df # assigns co_df to unWestMtCty_df, to avoid issues.
    unWestMtCty_df = unWestMtCty_df.loc[(unWestMtCty_df['DIVISION'] == 'Mountain') & (unWestMtCty_df['REGION'] == 'West')] # selects the mountain div and west region only.
    unWestMtCty_df = unWestMtCty_df['COUNTY'].nunique() # This counts the number of unique county names.
    return(unWestMtCty_df)

In [13]:
b4()

239

### b5: [6 marks]
What are the four most common county names across all states? <br>*This function should return a series object with county names and their frequency, i.e. Dupage County  24*

In [14]:
def b5():    
    """ function finds the four most common county names across all states
        Output should be the counties name followed by the count.  
    """
    freq_df = co_df['COUNTY'].value_counts() # Orders the counties by the frequency which the value occurs, in descending.
    ordFreq_df = freq_df.head(4) # Selects only the top 4 most common county names.
    return(ordFreq_df)

In [15]:
b5()

Washington County    30
Jefferson County     25
Franklin County      24
Lincoln County       23
Name: COUNTY, dtype: int64

### b6: [8 marks]
Which three states had the highest **total** net international migration from 1 July 2013 through to 30 **June** <em>(updated)</em> 2017? <br>*This function should return a series object with state names and their total net international migration over the four year period.*

In [16]:
def b6():
    """ function finds the three states with the highest total net international migration from 1 July 2013 to 30 June 2017
        Output should be a 2x3 series.   
    """
    migrationCounts_df = co_df # Creates a new dataframe migrationCounts_df that is a copy of co_df.
    migrationCounts_df['TOTAL NET MIGRATION'] = migrationCounts_df['NETMIG2014'] + migrationCounts_df['NETMIG2015'] + migrationCounts_df['NETMIG2016'] + migrationCounts_df['NETMIG2017'] # Aggregates the net migration from 01 July 2013 to 30 June 2017 as this is multiple columns. Create new column for this aggregation called 'TOTAL NET MIGRATION'
    migrationCounts_df = migrationCounts_df.groupby('STATE')['TOTAL NET MIGRATION'].count().reset_index() # Reset order/indexing.
    migrationCounts_df = migrationCounts_df.sort_values('TOTAL NET MIGRATION', ascending=False) # Sort in descending order.
    migrationCounts_df = migrationCounts_df.head(3) # Choose only the top 3.
    migrationCounts_df = migrationCounts_df.T.squeeze() # This converts the dataframe into a series object.
    return(migrationCounts_df)

In [17]:
b6()

                        43       10        46
STATE                Texas  Georgia  Virginia
TOTAL NET MIGRATION    254      159       133